<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blind Signature</title>
    <link rel="stylesheet" href="/public/index.css" />
    <script
      src="https://kit.fontawesome.com/256d252ac2.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <h1>Voting System</h1>
    <div class="container">
      <div class="candidates">
        <form action="/action_page.php">
          <input type="checkbox" id="c1" name="c1" value="c1" />
          <label for="c1"> Candidate 1</label><br />
          <input type="checkbox" id="c2" name="c2" value="c2" />
          <label for="c2">Candidate 2</label><br />
          <input type="checkbox" id="c3" name="c3" value="c3" />
          <label for="c3">Candidate 3</label><br /><br />
          <input type="submit" value="Vote" />
        </form>
      </div>
      <div class="ballot">
        <i class="fa fa-person-booth fa-10x"></i>
      </div>
    </div>
  </body>
</html>
