<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Blind Signature</title>
		<link rel="stylesheet" href="/public/index.css" />
		<script
			src="https://kit.fontawesome.com/256d252ac2.js"
			crossorigin="anonymous"
		></script>
	</head>
	<body>
		<h1>Voting System</h1>
		<div class="container">
			<div class="candidates">
				<button>Candidate 1</button>
				<button>Candidate 2</button>
				<button>Candidate 3</button>
				<button>Candidate 4</button>
				<button>Candidate 5</button>
				<button>Candidate 6</button>
			</div>
			<div class="ballot">
				<i class="fa fa-person-booth fa-10x"></i>
			</div>
		</div>
	</body>
</html>
